<div class="container">

<h1> <%= @poem.title  %></h1>

<h3> Translated by </h3>

<p> <%= @poem.creator_name %></p>


<h4> Original lyrics: </h4>
     <p> <%= @poem.poem_original %></p>

     <h4> Translated lyrics: </h4>
     <p> <%= @poem.poem_translated  %></p>
</div>
